<template name="errorTwo">

    <div class="back-link">
        <a href="{{pathFor route='dashboard'}}" class="btn btn-primary">Back to Dashboard</a>
    </div>

    <div class="error-container">
        <i class="pe-7s-way text-success big-icon"></i>
        <h1>403</h1>
        <strong>Access denied</strong>
        <p>
            We apologise, but it seems you don't sufficient have access rights.
        </p>
        <!--<a href="{{pathFor route='dashboard'}}" class="btn btn-xs btn-success">Go back to dashboard</a>-->
    </div>

</template>