<template name="header">
    <div id="header">
        <!-- Coloured line at top of header -->
        <div class="color-line">
        </div>
        <div id="logo" class="light-version">
        <span>
            Dispo App
        </span>
        </div>
        <nav role="navigation">
            <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
            <div class="small-logo text-center">
                <span class="text-primary">DISPO APP</span>
            </div>
            <form role="search" class="navbar-form-custom" method="post" action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search something special" class="form-control" name="search">
                </div>
            </form>
            <div class="navbar-right">
                <ul class="nav navbar-nav no-borders">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <!-- {{Meteor.userId()}} -->
                            <i class="pe-7s-keypad"></i>
                        </a>
                        <div class="dropdown-menu hdropdown bigmenu animated flipInX">


                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="{{pathFor route='projects'}}">
                                            <i class="pe pe-7s-portfolio text-info"></i>
                                            <h5>Projects</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{pathFor route='mailbox'}}">
                                            <i class="pe pe-7s-mail text-warning"></i>
                                            <h5>Email</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{pathFor route='contacts'}}">
                                            <i class="pe pe-7s-users text-success"></i>
                                            <h5>Contacts</h5>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{pathFor route='forum'}}">
                                            <i class="pe pe-7s-comment text-info"></i>
                                            <h5>Forum</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{pathFor route='analytics'}}">
                                            <i class="pe pe-7s-graph1 text-danger"></i>
                                            <h5>Analytics</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{pathFor route='fileManager'}}">
                                            <i class="pe pe-7s-box1 text-success"></i>
                                            <h5>Files</h5>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </li>

                    <li class="logout">
                        <a href="{{pathFor route='login'}}">
                            <i class="pe-7s-upload pe-rotate-90"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>
