<template name="dashboard">

    <div class="content">

      <!-- Button -->

        <div class="col-lg-3">
          <p><button name="newHang" action="submit" class="btn btn-primary" type="button">Create a new hang +</button></p>
        </div>

      <!-- End button -->





      <!-- Tiles for each hang -->
        {{#each hang}}
        <div class="col-lg-3">

          {{#panel footer="This is standard panel footer"}}

            <div class="text-center">
              <i class="pe-7s-graph1 fa-4x"></i>

              <h1 class="m-xs">{{name}}</h1>

              <h3 class="font-extra-bold no-margins text-success">
                All Income
              </h3>
              <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
            </div>

          {{/panel}}

        </div>
      </div>
      {{/each}}
      <!-- Tiles for each hang -->
</template>
